:root {
  --color-primary: #4a9c6d;
  --color-secondary: #c9452d;
  --color-background: #f5f5dc;
  --color-accent: #e8b828;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html, body, #root {
  margin: 0;
  padding: 0;
  background: transparent !important;
  overflow: hidden; /* optional */
}
